@page
@* @model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="container">
    <div class="row">
        <div class="col">User</div>
        <div class="col"><input type="text" id="userinput"/></div>
    </div>
    <div class="row">
        <div class="col">Message</div>
        <div class="col"><input type="text" id="messageinput"/></div>
    </div>
    <div class="row">
        <div class="col">Click here</div>
        <div class="col"><input type="button" id="sendbutton" value="SendMessage"/></div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
